.timer
.letters
.word
.row
  .col-md-12.col-xs-12.text-center.difficulty
.row
  .col-md-offset-2.col-md-2.col-xs-12.text-center.score
  .col-md-4.col-xs-12.text-center.result
  .col-md-2.col-xs-12.text-center.multiplier
.results
