body {
  padding-bottom: 70px;
}

.timer {
  font-size: 24px;
  color: #333;
  text-align: center;
}

.letter {
  font-size: 64px;
  font-weight: bold;
  text-align: center;
  opacity: 0.0;
}

.word form input {
  font-size: 24px;
  text-align: center;
  line-height: 64px;
}

.gauge {
  padding: 8px;
  width: 400px;
  height: 200px;
}

.instructions img {
  padding: 4px;
  border: 1px solid #eee;
  border-radius: 4px;
}

.footer {
  background: #fff;
  padding-bottom: 8px;
}

.footer a {
  padding: 0px 8px;
}
