%h1 About The Game
%p Sequence is a simple word game written by
  %a{href: 'http://gcs.io/'}Graham Smith
%p The game is currently very much a work in progress, and feedback is most definitely welcome.
